/* const starStyle = {
    width: `${size}px`,
    height: `${size}px`,
    animation: 'spin 2s linear infinite',
    display: 'block', // Ensures the image behaves as a block element
    margin: '0 auto', // Centers the loader horizontally
  };

  const containerStyle = {
    display: 'flex',
    justifyContent: 'center',
    alignItems: 'center',
    height: '100vh', // Or any height you need
  };

  const keyframes = `
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  `; */
