
/* .container:{ */
    /* background-image: url(""); */
    
/* } */

#card {
    background-image: url("../../assets/card.jpg");
       /* border-radius:"10px"; */
           height:200px;
           justify-content:center;
           display:flex;
           align-items:center;
           border-radius: 10px;

           /* background:rgb(27, 27, 27); */
           box-shadow:"10px -20px 70px, -10px -15px -10px";
           /* background-position: right bottom, left top; */
           background-repeat: no-repeat;
           /* background-size: contain; */
            /* boxShadow: " 36px 36px 46px ,-36px 36px 36px" */
}